<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table Design || Future Web</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="bod">
      <div class="container-contacts">
        <table>
          <caption>Qui sommes-nous ? :</caption>
          <thead>
            <tr>
              <th>Prénom</th>
              <th>Formation</th>
              <th>Contact</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Zacharie</th>
              <th>Master 1 IRS à Paris-Saclay Université</th>
              <th rowspan="4">carbu.aws@gmail.com</th>
            </tr>
            <tr>
              <th>Raphaël</th>
              <th>Master 1 DataScale à Paris-Saclay Université</th>
            </tr>
            <tr>
              <th>Lissia</th>
              <th>Master 1 IRS à Paris-Saclay Université</th>
            </tr>
            <tr>
              <th>Maria</th>
              <th>Master 1 DataScale à Paris-Saclay Université</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>

</html>